{% extends 'pages/account.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/store.css' %}" />
<div class="store-interface">
  <h1>{{user.username}}'s inventory</h1>
  <h2>Check out your birdys!</h2>
  <div class="cards-container">
    {% for bird in birds %}
    <!-- works because userBirds are only birds in unlockedBirds with value true -->
    {% if bird.name in userBirds%}
    <div class="purchase-card">
      <img src="{% static bird.img%}" alt="" class="birdy" />

      <h3>{{bird.name}}</h3>
      {% if bird.img == user.profile.currentBirdy %}
      <button>Equipped</button>
      {% else %}
      <button class="select">Select</button>
      {% endif %}
    </div>
    {% endif %} {% endfor %}
  </div>

  <form action="" method="post" class="hide-elem" id="select-form">
    {% csrf_token %}
    <input type="text" name="selected" id="selected" />
  </form>
  <script>
    var selects = document.getElementsByClassName("select");
    Array.from(selects).forEach((button) => {
      button.addEventListener("click", (e) => {
        var parent = button.parentElement;
        var name = parent.children[1].innerText;
        document.getElementById("selected").setAttribute("value", name);
        document.getElementById("select-form").submit();
      });
    });
  </script>
</div>
{% endblock %}
